/* Show it is fixed to the top */
body {
    /*min-height: 75rem;*/
    padding-top: 4.5rem;
}

/* girish */
.dropdown {
    margin: 0px;
}

.navbar {
    padding: 0.3rem 1rem;
}

.navbar-brand {
    line-height: 1.3rem;
}


.dropdown-menu {
    max-height: 20rem; /* height of dropdown */
    overflow-y: auto; /* makes it scrollable */
    /* z-index: 25000 !important; */
    /* background-color: #f0f0f0; */
}

/*
.dropdown-menu > a:focus,
.dropdown-menu > a:hover {
    background-color: #ffffff;
    background-image: none;
}
*/
